/.idea
/__pycache__
marketplaces/__pycache__
marketplaces/Mercado Livre/__pycache__
marketplaces/Mercado Livre/programa/__pycache__
Marketplaces/Mercado Livre/programa/Arquivos
Marketplaces/Mercado Livre/testes/build
Marketplaces/Mercado Livre/testes/programa.spec
Marketplaces/Mercado Livre/testes/dist/arquivos
Marketplaces/Mercado Livre/Postman/bling-api.json
