/.idea
/__pycache__
marketplaces/__pycache__
marketplaces/Mercado Livre/__pycache__
marketplaces/Mercado Livre/programa/__pycache__
Marketplaces/Mercado Livre/backup/Arquivos
/Marketplaces/Mercado Livre/programa/Arquivos
Marketplaces/Mercado Livre/Postman/bling-api.json
/Marketplaces/Mercado Livre/programa/output/Arquivos
Marketplaces/Mercado Livre/programa/output/Categoria-MLB432825.xlsx
Marketplaces/Mercado Livre/programa/output/registro.txt
Marketplaces/Mercado Livre/programa/registro.txt
