/.idea
/__pycache__
marketplaces/__pycache__
marketplaces/Mercado Livre/__pycache__
marketplaces/Mercado Livre/programa/__pycache__
Marketplaces/Mercado Livre/programa/Arquivos
/Marketplaces/Mercado Livre/testes/Arquivos
